{% extends 'default_frame.twig' %}

{% block title %}設定{% endblock %}
{% block sub_title %}スタンプ登録{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ app.config.admin_urlpath }}/assets/css/bootstrap-datetimepicker.min.css">
{% endblock stylesheet %}

{% block javascript %}
<script src="{{ app.config.admin_urlpath }}/assets/js/vendor/moment.min.js"></script>
<script src="{{ app.config.admin_urlpath }}/assets/js/vendor/moment-ja.js"></script>
<script src="{{ app.config.admin_urlpath }}/assets/js/vendor/bootstrap-datetimepicker.min.js"></script>
<script>
$(function() {
    var inputDate = document.createElement('input');
    inputDate.setAttribute('type', 'date');
    if (inputDate.type !== 'date') {
        $('#admin_news_date').datetimepicker({
            locale: 'ja',
            format: 'YYYY-MM-DD',
            useCurrent: false,
            showTodayButton: true
        });
    }

});
</script>
{% endblock javascript %}

{% block main %}
<div class="row" id="aside_wrap">
    <form name="customer_form" role="form" id="customer_form" method="post" action="">
    {{ form_widget(form._token) }}
    </form>
</div>
{% endblock %}
